<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="port" value="9876"/>
    <add key="serverCertificateFilename" value="server-private.pfx"/>
    <add key="serverCertificatePassword" value=""/>
    <add key="expectedClientCertificateFilename" value="client-public.pfx"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter" initializeData="QuickDeploy.ServerService.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>